version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:latest
        environment:
          DEBUG: true

    working_directory: /go/src/github.com/vapor-ware/ksync

    environment:
        TEST_DIRECTORY: "gotest"
        BINARY_NAME: "ksync"
        CLUSTER_NAME: "tim-dev"
        CLUSTER_ZONE: "us-central1-b"

    steps:
      - checkout

      - restore_cache:
          keys:
            - vendor-{{ checksum "Gopkg.toml" }}-{{ checksum "Gopkg.lock" }}
            - vendor-{{ checksum "Gopkg.toml" }}

      - run:
          name: "Make test report directory"
          command: mkdir -p /tmp/$TEST_DIRECTORY

      - run:
          name: "Install and setup GKE access"
          background: true
          command: |
             curl https://sdk.cloud.google.com -o /tmp/gcloud-install
             chmod +x /tmp/gcloud-install
             /tmp/gcloud-install --disable-prompts
             echo ${GOOGLE_AUTH} > ${HOME}/gcp-key.json
             /home/circleci/google-cloud-sdk/bin/gcloud auth activate-service-account --key-file ${HOME}/gcp-key.json
             /home/circleci/google-cloud-sdk/bin/gcloud components install kubectl --quiet
             /home/circleci/google-cloud-sdk/bin/gcloud container clusters get-credentials $CLUSTER_NAME --zone $CLUSTER_ZONE

      - run:
          name: "Installing Vendored Dependencies"
          command: |
            go get -v github.com/golang/dep/cmd/dep
            go install github.com/golang/dep/cmd/dep
            dep ensure -v

      - run:
          name: "Lint"
          command: |
            go get -u github.com/alecthomas/gometalinter
            gometalinter --install
            gometalinter ./... --vendor --skip "testdata" --disable=megacheck --deadline=240s
            gometalinter ./... --vendor --skip "testdata" --disable-all --enable=megacheck --deadline=240s

      - run:
          name: "Get test to junit xml parser"
          command: go get -v -u github.com/jstemmer/go-junit-report

      - run:
          name: "Running Tests (Background)"
          background: true
          command: go test -v ./... 2>&1 | go-junit-report > /tmp/$TEST_DIRECTORY/report.xml

      - run:
          name: "Running Tests"
          command: go test -v --race ./...

      - save_cache:
          when: on_success
          key: vendor-{{ checksum "Gopkg.toml" }}-{{ checksum "Gopkg.lock" }}
          paths:
            - vendor/

      - run:
          name: "Getting builder"
          command: |
            go get -v github.com/mitchellh/gox
            go get -v github.com/tcnksm/ghr

      - run:
          name: "Building"
          command: gox --parallel=10 --output="bin/{{ .Dir }}_{{ .OS }}_{{ .Arch }}" -os='!netbsd' ./cmd/...

      - store_artifacts:
          path: bin
          destination: binaries

      - store_test_results:
          path: /tmp/gotest
