name: Publish

on:
  push:
    tags:
    - '*'

jobs:
  build:
    name: Generate Artifacts
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/setup-go@v1
      with:
        go-version: 1.13.6

    - name: Checkout code
      uses: actions/checkout@v1

    - name: Build CLI
      env:
        BINARY_VERSION: "Release"
      run: |
        make build-ci

    - name: Build images
      run: |
        make docker-binary docker-build

    - name: Push commit specific images
      env:
        PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}
      run: |
        echo ${PUSH_TOKEN} | \
          docker login -u ksyncrobot --password-stdin
        make docker-push

    - name: Push images to GPR
      uses: machine-learning-apps/gpr-docker-publish@v1.3
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        IMAGE_NAME: 'ksync'
        TAG: "git-${{ env.GITHUB_SHA }}"
        DOCKERFILE_PATH: 'docker/Dockerfile'
        BUILD_CONTEXT: './'
        cache: true

    - uses: actions/upload-artifact@v1
      with:
        name: bin
        path: bin

    - name: Previous Tag
      uses: timfallmk/previous-git-tag-action@master
      id: tag

    # - name: Get Last Tag
    #   id: tag
    #   run: |
    #     LAST_TAG='$(git describe --abbrev=0 --tags `git rev-list --tags --skip=1 --max-count=1`)'
    #     LAST_TAG=eval ${LAG_TAG}
    #     echo $LAST_TAG
    #     echo ::set-output name=last-tag::${LAST_TAG}

    - name: Create changelog
      uses: timfallmk/github-changelog-generator-action@master
      id: changelog
      with:
        since-tag: ${{ steps.tag.outputs.previous-tag }}
        github-token: ${{ secrets.GITHUB_TOKEN }}
        github-repo: 'ksync/ksync'

    - run: |
        echo "${{ steps.changelog.outputs.CHANGELOG }}"

    - name: Create a new release
      uses: actions/create-release@master
      id: create_release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: ${{ github.ref }}
        body: '${{ steps.changelog.outputs.CHANGELOG }}'

    # Temporary until actions/upload-release-asset supports multiple files
    - name: Upload assets to release
      uses: Roang-zero1/github-upload-release-artifacts-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        args: bin/

# This needs fixing to allow multiple files (https://github.com/actions/upload-artifact/issues/3#issuecomment-524442814)
    # - name: Upload assets to release
    #   uses: actions/upload-release-asset@1.0.1
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #   with:
    #     upload_url: ${{ steps.create_release.outputs.upload_url }}
    #     asset_path:
